@import "styles/variables";

.card {
    width: 360px;
    margin: 4rem auto;
    background-color: $fill;
    box-shadow: var(--boxShadowForMainContainer);
    text-align: center;
    padding: 1rem;
}